<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIKKA</title>
</head>
<body>

    <nav class="navbar" id="home">
        <ul class="navlist">
            <div class="logo"><img src="static/image/logo.jpg" alt="logo"></div>
            <li><a class="a" href="#home"> Home </a> </li>
            <li><a class="a"href="#about"> About </a></li>
            <li><a class="a" href="#dojo"> Center </a></li>
            <li><a class="a"href="#contact"> Contact </a></li>
            <li><a class="a"href="#servies"> Servies </a></li>
        </ul>
    </nav>

    <section class="background first-section">
        <div class="main-box">
            <div class="box-first">
                <h1  class="s2-1-tag">Welcome to the all India Kyokushin karate</h1>
                <p  class="s2-2-tag"> Don't fill looser make your hand strong.Get Ready to fight.Feel the power.<br>
                    Change Your life with our family.
                </p>
                <!-- <button onclick="NewTab()" class="button">Explore</button> -->
            </div>
        </div>
    </section>
 
<section>

    <section class="section histo" id="about">
    <div class="paras">
        <p class="s2-1-tag">The start of kyokushin</p> 
        <br>
        <p class="s2-2-tag">After formally establishing the Kyokushinkaikan in 1964, Oyama directed the 
            organization through a period of expansion.[7] Oyama hand-picked instructors who displayed ability in 
            marketing the style and gaining new members. Oyama would choose an instructor to open a new dojo. 
            The instructor would move to that town and demonstrate his karate skills in public places. After that,
            word of mouth would spread through the local area until the dojo had a dedicated core of students. Oyama
             also sent instructors to other countries such as the Netherlands (Kenji Kurosaki), Australia 
             (Mamoru Kaneko and Shigeo Kato), the United States (Miyuki Miura, Tadashi Nakamura, Shigeru Oyama 
             and Yasuhiko Oyama), Great Britain (Steve Arneil), Canada (Tatsuji Nakamura) and Brazil (Seiji Isobe) to 
             spread Kyokushin in the same way. Many students, including Steve Arneil, Jon Bluming, and Howard Collins, 
             traveled to Japan to train with Oyama directly. In 1969, Oyama staged The First All-Japan Full Contact Karate
             Open Championships and Terutomo Yamazaki became the first champion. All-Japan Championships have been held at
             every year. In 1975, The First World Full Contact Karate Open Championships were held in Tokyo.[citation needed] 
             World Championships have been held at four-yearly intervals since
        </p>
    </div>
        <div>
            <img height="340px" src="static/image/header.jpg" alt="innerimg">
        </div>

    </section>


    <section class="section sec-left">
        <div class="paras">
            <p style="padding-left: 20px" class="s2-1-tag">The Sosai Mas Oyama</p> 
            <p style="padding: 25px 20px" class="s2-2-tag">Sōsai 総裁 (President) Masutatsu Oyama, the founder of Kyokushin Karate, was born in southern Korea in 1923.  While living at his sister's farm in Manchuria at the age of nine, he began his lifelong journey along the Martial Way when he began studying the southern Chinese form of kempo know as "Eighteen Hands".  When Mas Oyama returned to Korea at the age of 12, he continued his training in Korean
                A fter the end of World War II, Mas Oyama began training under Nei-Chu So, one of the highest authorities in Japan of Gōjū Ryū 剛柔流, an Okinawan karate style.  Master So, renowned for the power of his body as well as his spiritual insight, encouraged Mas Oyama to dedicate his life to Budō 武道, the Martial Way.  He suggested that Mas Oyama retreat from civilization for three years to train his mind and body without the distractions of the outside world.
                Around this time, Mas Oyama also met Eiji Yoshikawa, the author of the novel Musashi 武蔵, which was based on the life and exploits of Miyamoto Musashi, Japan's most famous Samurai warrior.  Both the novel and the author helped to teach him the meaning of Bushidō 武士道, the Way of the Warrior.  That same year, Mas Oyama went to Mt. Minobu in Chiba Prefecture, where Musashi had developed his style of sword fighting.  Mas Oyama thought that this would be
                 an appropriate place to begin the rigorous training he had planned for himself.  Accompanied by a student, he went into the wilderness there to train, with a friend bringing food supplies to them once a month.  After six months of training, his student was unable to handle the solitude and secretly fed during the night, leaving Mas Oyama completely alone to continue his training.  After fourteen months of training in the wilderness, his friend informed
                  Mas Oyama that he could no longer provide the monthly supplies of food, and Mas Oyama had to return to civilization.
             </p>
        </div>
            <div>
                <img height="450px" src="static/image/sosay.jpg" alt="innerimg">
            </div>
    
        </section>


    <section class="section">
        <div class="paras">
            <p style="padding-left: 3px" class="s2-1-tag">Shihan Mahadeb Bramha</p> 
            <br>
            <p style="padding-right: 20px" class="s2-2-tag">Shihan Mahadeb Bramha was born to Dulal Bramha and Gaury Bramha on 5th March 1971 at Payradanga, Nadia, W.B., India. He is a founder of AIKKA or BAIKKA. 
                Who had been practicing karate since 29 years with a strenuous Kyokushin way. At first Sensei Mahadeb Bramha was start his karate life under the Senpei Anup Ganguly. His dojo was situated at Ranaghat, 
                District Nadia. After completing his training period from here, Sensei was going for training in Kolkata dojo which was undertaken by the Shihan Shibaji Ganguly. In Shihan Shibaji Ganguly’s dojo sensei Mahadeb 
                Bramha completed his brown belt, which is also called 2nd kyu. But facing some crucial problem he was going to sensei Prasenjit Saha for practice. Here sensei had done his 1st Dan black belt. After many years of 
                practicing here sensei Mahadeb Bramha has organized his own karate association and group. Not only that, but Sensei has opened his own dojo also when he was just brown belt. He was opened his first dojo at Payradanga,
                 Saptorshi Sangha club ground. It is an outdoor dojo mainly but indoor practice facilities also have. After few years of opening, this dojo is become an Indian honbu or head quarter dojo. sensei has joined in IKO Matshushima 
                 on the year of 2008. and the noticeable thing is that sensei has gone to Japan at 4 times in between the year of 2009-2013.Not only that now he goes to Japan every year for training which is undertaken by Kancho Matsushima. 
                 Sensei Mahadeb Bramha has done a great job as a corner judge on 2012 world tournament. Sensei was praised many times by Kancho Matsushima for his great performance of kata or imagine fight. At last to say in short that Sensei
                  Mahadeb Bramha is one of the successful karateka in India who has been continuing his practice till now with a great budo spirit and he has been developing his organization very much as possible he does.s
            </p>
        </div>
            <div>
                <img height="400px" src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.0-9/25594378_1545356622225587_4492608033274315316_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=GnfXhULmQXgAX_NXHQm&_nc_ht=scontent.fccu1-1.fna&oh=529a4bcd5694b05b9f358f330658e23f&oe=5FA2A8D6" alt="innerimg">
            </div>
     
        </section>


    </section>


        <section class="image">
            <center>
                <img src="static/image/d1xknwe-d4cc5e04-a00e-44bf-842e-c6b7711dfc0f.jpg" alt="">
            </center>
        </section>

        <section id="dojo">
    <!-- <center><h1>Servies</h1></center> -->
        </section>


<section class="servies" id="">
    <center><h1>Dojo Location</h1></center>

    <br>
    <div>
        <table>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>places</th>
              <th>Landmark</th>
            </tr>
            <tr>
              <td> SUNDAY, TUESDAY</td>
              <td>5:00 PM</td>
              <td>PRITINAGAR, PIN-741247, NADIA DIST.</td>
              <td>[2 no Platform PAYRADANGA Railway Station]</td>
            </tr>
            <tr>
              <td> MONDAY,  THURSDAY,</td>
              <td>5:00 PM</td>
              <td>RANAGHAT FRIEND’S CLUB, RANAGHAT, NADIA DIST.</td>
              <td>[10 Minuntes from Ranaghat Railway Station]</td>
            </tr>
            <tr>
                <td>SUNDAY, TUESDAY, SATURDAY</td>
                <td>5:00 PM</td>
                <td> KALIBARI, NORTH 24 PARGANA DIST</td>
                <td>[5 Minuntes from Shyamnagar Railway Station]</td>
            </tr>
            <tr>
                <td> WEDNESSDAY,SUNDAY</td>
                <td>4:30PM, 7:00AM</td>
                <td>EB-BLOCK, TANK-1, LABONY, SALTLAKE, SECTOR-1, KOLKATA- 64</td>
                <td>[Near City Centre]</td>
            </tr>
            <tr>
                <td> FRIDAY,SUNDAY</td>
                <td>5:00 PM</td>
                <td>NEW CAMPUS, SALTLAKE, KOLKATA- 64</td>
                <td>HIEF INSTRUCTOR/ TRAINER- SENPEI BIRBAHADUR BARMAN</td>
            </tr>
            <tr>
                <td> SUNDAY, TUESDAY</td>
                <td>5:00 PM</td>
                <td>SHOKTINAGAR, PIN-741106 NADIA DIST.</td>
                <td>[2 no Platform KRISHNAGAR Railway Station]</td>
            </tr>
          </table>
          
    </div>


    </div>
</section>

<section id="contact">     

</section>


<section class="contact" >
    <center><h1>Contact Us</h1></center>
    <br>
    <form action="" method="POST">
        {% csrf_token %} 
        <div class="form">
            <input class="inpu"  type="text" name="name" id="name" placeholder="Enter Your Name" required maxlength="15">
            <input class="inpu" type="number" name="Phone" id="name" placeholder="Enter Your Phone No" required maxlength="10">
            <input class="inpu" type="email" name="email" id="mail" placeholder="Enter Your Email" required>
            <textarea name="about" id="text" cols="112" rows="10" placeholder="Enter Your Quary in 30 words" required maxlength="250"></textarea>
            <center>
                <input class="submit" type="reset" value="Reset">
                <button class="submit">Submit</button>
            </center>
     
     
            
         </div>
    </form>
</section>

<!-- <section class="servies" ><h1>ho</h1></section> -->


<section class="servies" id="servies">
    <!-- <center><h1>Servies</h1></center> -->
</section>
<br>
<br>


<section class="servies" id="servies">
    <center><h1>Servies</h1></center>
</section>

<section class="content" >

    <div class="flip-card"> 
       <div class="card">
           <div class="font">
             <img src="static/image/minda.jpg" alt=" dvmmkv">
           </div>
           <div class="back">
               <h2>Mditation</h2>
               <span>Youtube Channel</span>
           </div>
       </div>
    </div>
   
    <div class="flip-card"> 
       <div class="card">
           <div class="font">
             <img src="static/image/toor.jpg" alt=" dvmmkv">
           </div>
           <div class="back">
               <h2>Summer Camp</h2>
               <span>Youtube Channel</span>
           </div>
       </div>
    </div>
   
    <div class="flip-card"> 
       <div class="card">
           <div class="font">
             <img src="static/image/tecnick.jpg" alt=" dvmmkv">
           </div>
           <div class="back">
               <h2>Tecnick</h2>
               <span>We belive that tecnick is most immportant things</span>
           </div>
       </div>
    </div>
   
   
    <div class="flip-card"> 
       <div class="card">
           <div class="font">
             <img src="static/image/kyo_article.jpg" alt=" dvmmkv">
           </div>
           <div class="back">
               <h2>Fight</h2>
               <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, non nisi consequuntur adipisci doloribus reprehenderit maxime possimus beatae error, sunt quis quod. Maiores ea dolore dolor quasi et optio amet!</span>
           </div>
       </div>
    </div>
   
   </section>

<footer style=" margin-top: 2pc " id="footer">

    <div class="sm">
        <a href="https://www.facebook.com/bramha.aikka.india/"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCneW4HEV4jbOKQ90grn3yZw"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/explore/locations/566440303413541/all-india-kyokushin-karate-association-aikka/"><i class="fab fa-instagram"></i></a>
      </div>
</footer>

<script> 
    function NewTab() { 
        window.open( 
          "https://www.youtube.com/channel/UCneW4HEV4jbOKQ90grn3yZw", "_blank"); 
    } 
</script> 


</body>
</html>